*{
  margin: 0 auto;
  padding: 0;
  font-family: 'JetBrains Mono';;
  overflow-x: hidden;
}
body{
  background-image: linear-gradient(to left, rgb(117, 114, 114), rgb(255, 255, 255));
  overflow: hidden;
}
#logotipo{
  border-radius: 150px;
  width:150px;
  height: 150px;
}
h1{
  color: black;
  margin: 20px;
  font-size: 30px;
}
nav{
  display: flex;
}
ol{
  display: flex;
  list-style-type: none;
}
li{
  display: flex;
  justify-content: center;
  align-content: center;
}
a{
  margin-right: 20px;
  padding-right: 10px;
  color:black;
  text-decoration: none;
  font-weight: bold;
}
a:hover{
  color: rgb(78, 78, 78);
  transition: 0.5s ease-in-out;
}
.banner{
  margin-top:20px;
  width: 1500px;
  height: 400px;
  overflow-y: hidden;
  box-shadow: 5px 5px 10px 5px;
}
h2{
  color: white;
}
#about__US{
  color:white;
  font-weight: 600;
}
